h1{
  font-family:Verdana;
  font-weight: normal;
  font-size: 50px;
  color:white;
  text-align: center;
}
body{
  background-color: black;
  text-align: center;
}
#download-link{
  color:#9BFFDC;
}
#download-p{
  text-align: center;
}
h2{
  color: white;
  font-family: Verdana;
  font-weight: 300px;
  font-size: 42px;
}
h3{
  font-family: Verdana;
  font-size: 21px;
  color:gray;
}
#trademark{
  text-align: right;
  color: gray;
}
